html {
  font-family: helvetica, sans-serif;
  font-size: 18px; }
  
body{
	
	background:url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}	


  


h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
  font-size: 3rem;
  color: white;
  margin: 0;
  padding: 0.75em 0.25em;
  text-shadow: -1.5px 0 black, 0 1.5px white, 1.5px 0 white, 0 -1.5px black;
  background: #black;
  line-height: 1.1em; }

ul {
  padding: 0; }

li {
  list-style-type: none;
  font-weight: bold;
  font-size: 4rem;
  position: relative; }

ul {
  /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  grid-gap: 1em;
  margin: 1em; }

li.highlight-box {
  grid-row: span 2;
  grid-column: span 2; }

li.highlight-tall {
  grid-row: span 2; }

li.highlight-wide {
  grid-column: span 2; }
 
li.highlight-title {
  grid-column: span 4; }

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;	
  border: 2px solid black;
   border-radius: 10px;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5); }

.warning {
  color: red;
  font-size: 200%; }

@supports (display: grid) {
  .warning {
    display: none; } }
	
/**
	Transiciones Hover
**/

li.sepia	 img {
	-webkit-filter: sepia(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: sepia(0);	
}
li.sepia:hover img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
li:hover span{
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: red;

  text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
  font-size: 2rem;
}


li.grayscale	 img {
	-webkit-filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: grayscale(0);	
}
li.grayscale:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

li.gauss	 img {

	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;	
}
li.gauss:hover img{
	filter: url(#pictureFilter);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
	



